In [1]:
a = ["Banana", "Apple" , "Microsoft"]
print(a)

['Banana', 'Apple', 'Microsoft']

In [2]:
print(a[2])
print(a[1])
print(a[0])

Microsoft
Apple
Banana

In [8]:
for element in a:
    print(element)

Banana
Apple
Microsoft

In [9]:
b = [20, 40, 60]
print(b)

[20, 40, 60]

In [13]:
total = 0
for e in b:
    total = total + e
print(total)

120

In [14]:
#range and list are different functions
c = list(range(25 , 31))
print(c)

[25, 26, 27, 28, 29, 30]

In [15]:
for i in range(25 , 31):
    print(i)

25
26
27
28
29
30

In [16]:
total2 = 0
for i in range(25,31):
    total2 += i
print(total2)

165

In [17]:
print(list(range(1 , 8)))

[1, 2, 3, 4, 5, 6, 7]

In [18]:
total3 = 0
for i in range(1 , 8):
    if((i % 3) == 0) :
        total3 += i

In [19]:
print(total3)

9

In [20]:
# Compute all multiple of 3, 5 that are less than hundred
print(list(range(1 , 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [23]:
d = list(range(1, 100))
total4 = 0
for i in d:
    if (i % 3 == 0) & (i % 5 == 0) :
        total4 += i
print(total4)

315